/*------------------------common*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a{
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

.button{
  display: inline-block;
}

.button__link{
  display: inline-block;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  padding: 10px 5px;
  color: black;
}

/*------------------------app*/
.app {
  width: 100%;
}

.app__header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.app__title {
  font-size: 1.5em;
}

/*------------------------noteBook*/
.noteBook {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/*------------------------personList*/
.wrapper-personList{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
}

.personList{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.personList__item{
  display: flex;
  justify-content: space-between;
}

.personList__header-block{
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
}

/*------------------------person*/
.person{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.person__item{
  padding: 15px;
  flex-basis: 20%;
}

.person__item--text-bold{
  font-weight: bold;
}


.form{
  display: flex;
  width: 80%;
  justify-content: space-between;
}

/*------------------------Pokemon*/
.pokemonList{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.pokemonList__wrapper{
  display: flex;
  width: 80%;
}

.pokemonList__list{
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.pokemonList__link{
  display: inline-block;
  height: 40px;
  width: 200px;
  padding: 10px 5px;
}

.pokemonList__title{
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
}

.pokemonList__title--little{
  font-size: 14px;
}


